In [2]:
import pandas as pd

In [3]:
vine_table_to_load = "Resources/vine_table.csv"
vine_table_df = pd.read_csv(vine_table_to_load)

In [4]:
vine_table_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R100E6OT70LKOZ,3.0,0.0,0.0,N,Y
1,R100JZDN9RV012,5.0,1.0,2.0,N,N
2,R100WJRDBA7IQ5,5.0,0.0,0.0,N,Y
3,R100ZY64ZJVNVZ,5.0,0.0,0.0,N,Y
4,R101GPEDWLA42J,4.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
4850355,RZYC3URZZYDAG,4.0,0.0,1.0,N,Y
4850356,RZYIHU78E3K5Q,5.0,0.0,0.0,N,Y
4850357,RZYWHSP6F983Z,4.0,0.0,0.0,N,N
4850358,RZYYF5RFRIA2H,5.0,0.0,0.0,N,Y
4850359,RZYZS25U0852D,1.0,3.0,4.0,N,Y

In [41]:
vine_table_df.shape[0]

4850360

In [26]:
cleaned_vine_df = vine_table_df.loc[(vine_table_df["total_votes"] >= 20)]
cleaned_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
166,R10V2MJ70IWS6H,5.0,91.0,101.0,N,N
192,R10ZHEMMKM8D0C,5.0,27.0,31.0,N,Y
243,R11AHQ4L32KJVW,5.0,19.0,23.0,N,N
254,R11COQ306TYADK,5.0,31.0,33.0,N,Y
532,R11ZJ7A740AX2B,3.0,143.0,143.0,N,Y
...,...,...,...,...,...,...
4849949,RXO41LGBBYL8D,3.0,26.0,30.0,N,Y
4850022,RY1K4ZY3Y7NOW,1.0,17.0,21.0,N,N
4850050,RY7VD7MAKT1Z4,5.0,67.0,75.0,N,Y
4850161,RYT70VW9L673L,2.0,32.0,35.0,N,Y
4850284,RZGBYACWJUPGI,5.0,27.0,29.0,N,Y

In [28]:
cleaned_votes_df = cleaned_vine_df.loc[(cleaned_vine_df["helpful_votes"] / cleaned_vine_df["total_votes"] >= 0.5)]
cleaned_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
166,R10V2MJ70IWS6H,5.0,91.0,101.0,N,N
192,R10ZHEMMKM8D0C,5.0,27.0,31.0,N,Y
243,R11AHQ4L32KJVW,5.0,19.0,23.0,N,N
254,R11COQ306TYADK,5.0,31.0,33.0,N,Y
532,R11ZJ7A740AX2B,3.0,143.0,143.0,N,Y
...,...,...,...,...,...,...
4849949,RXO41LGBBYL8D,3.0,26.0,30.0,N,Y
4850022,RY1K4ZY3Y7NOW,1.0,17.0,21.0,N,N
4850050,RY7VD7MAKT1Z4,5.0,67.0,75.0,N,Y
4850161,RYT70VW9L673L,2.0,32.0,35.0,N,Y
4850284,RZGBYACWJUPGI,5.0,27.0,29.0,N,Y

In [33]:
paid_df = cleaned_votes_df.loc[(cleaned_votes_df["vine"] == "Y")]
paid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2432,R178I1AJRIQUTX,5.0,27.0,29.0,Y,N
26974,R32OMS1LSDRCOB,4.0,27.0,31.0,Y,N
46056,RTP1ONXYN6D1D,4.0,52.0,54.0,Y,N
49109,R10V1GEWC8KK40,5.0,18.0,25.0,Y,N
60708,R1YLWWG9N5CTDY,5.0,55.0,62.0,Y,N
...,...,...,...,...,...,...
4793944,RDQ0RDQMSBT22,5.0,21.0,30.0,Y,N
4801411,RX8TSC5PKNMB9,5.0,27.0,29.0,Y,N
4807036,R1GHDWV1TYOYZO,5.0,17.0,20.0,Y,N
4822237,R2ILUOPVKMB8ZZ,4.0,185.0,189.0,Y,N
4831048,R3899DWC3XJN8C,5.0,25.0,35.0,Y,N

In [34]:
unpaid_df = cleaned_votes_df.loc[(cleaned_votes_df["vine"] == "N")]
unpaid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
166,R10V2MJ70IWS6H,5.0,91.0,101.0,N,N
192,R10ZHEMMKM8D0C,5.0,27.0,31.0,N,Y
243,R11AHQ4L32KJVW,5.0,19.0,23.0,N,N
254,R11COQ306TYADK,5.0,31.0,33.0,N,Y
532,R11ZJ7A740AX2B,3.0,143.0,143.0,N,Y
...,...,...,...,...,...,...
4849949,RXO41LGBBYL8D,3.0,26.0,30.0,N,Y
4850022,RY1K4ZY3Y7NOW,1.0,17.0,21.0,N,N
4850050,RY7VD7MAKT1Z4,5.0,67.0,75.0,N,Y
4850161,RYT70VW9L673L,2.0,32.0,35.0,N,Y
4850284,RZGBYACWJUPGI,5.0,27.0,29.0,N,Y

In [39]:
fiveStar_paid = paid_df.loc[paid_df["star_rating"] == 5.0]
paid5Star_count = fiveStar_paid.shape[0] 
paid5Star_count

139

In [40]:
fiveStar_unpaid = unpaid_df.loc[unpaid_df["star_rating"]==5.0]
Count_5star_unpaid = fiveStar_unpaid.shape[0]
Count_5star_unpaid

32665